body {
	color: #ffffff;
	text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000;
  font-family: 'Shrikhand', cursive;
}
h1 {
  height: 100%;
	border: 1px solid #000;
	margin: 6px;
	text-align: center;
	padding: 60px
}
h2 {
	text-align: center;
}
.pic {
  background-image: url("https://f4.bcbits.com/img/0004839674_10.jpg");
  background-size: cover;
}
