h1 {
  height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
h3 {
	text-align: center;
}
.pic {
  background-image: url("https://f4.bcbits.com/img/0004839674_10.jpg");
  background-size: cover;
}
