
.col-sm-12 {
  display: flex;
  align-items: center;
  background-image: url('https://f4.bcbits.com/img/a2236382388_10.jpg');
  background-size: header;
  color: #ffffff;
  height: 100px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}h1 {
  height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}
h2 {
	text-align: center;
}
.pic {
  background-image: url("https://f4.bcbits.com/img/0004839674_10.jpg");
  background-size: cover;
}
